@{EIF.Helper.collection.Get get = new EIF.Helper.collection.Get();}
@{EIF.Models.DomainsWithPayment data = ViewBag.data;}

<!-- JQuery  -->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/assets/js/plugins/underscore/underscore-min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="warper container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            Domain Data
        </div>
        <div class="panel-body">
@using (Ajax.BeginForm("SaveAppendPayments", "collection",
                                     new AjaxOptions
                                     {
                                         //AllowCache = false,
                                         HttpMethod = "POST",
                                         UpdateTargetId = "AppendMsg",
                                         InsertionMode = InsertionMode.Replace,
                                         OnBegin = "ShowProgress();",
                                         OnComplete = "HideProgress();",
                                     }))
{
    <div id="AppendMsg"></div>
    
            <div class="row">
                <div class="col-lg-12">
                    <div id="container">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Domain Name :  </label> <span>@data.DomainTitle</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Domain Version Number :  </label> <span>@data.VersionNumber</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            @*<div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Domain Type : </label> <span> @data.DomainType</span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@   
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Payment Amount : </label> <span> @string.Format("{0:N0}",data.DomainPayment)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>             
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="control-label">Payment Date : </label> <span> @ViewBag.paymentdate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                                     
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 form-group">
                    <div class="col-lg-4">
                        <input type="hidden" id="DomainID2" name="DomainID2" value="@data.DomainID" />
                        <input type="hidden" id="SchemaID" name="SchemaID" value="@data.SchemaID" />
                        <input type="hidden" id="VersionNumber" name="VersionNumber" value="@data.VersionNumber" />
                        <input type="hidden" id="DomainName" name="DomainName" value="@data.DomainTitle" />
                        <input type="hidden" id="type" name="type" value="@ViewBag.type" />
                        <br />
                        <span id="selectF" class="btn btn-success fileinput-button" style="width:200px">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select Payment File</span>
                            <input type="file" name="files[]" id="Pay-file">
                        </span>
                        <input type="hidden" name="excelFile" id="excelFile" value="" />
                    </div>
                    <div class="col-lg-8">
                        <div class="row" id="sheets"> </div>
                    </div>
                </div>
            </div>
           
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="row" id="SheetCol"> </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <button type="submit" class="btn btn-primary btn-block">Append</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
}
        </div>
    </div>


    <div id="result"></div>


</div>
<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Collection.js"></script>