@{EIF.Models.Dom_DomainList data = ViewBag.data;}
<div id="container">
    <div class="col-lg-12">       
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Domain Name :  </label> <span>@data.DomainTitle</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Domain Version Number :  </label> <span>@data.VersionNumber</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Branch : </label><span> @data.BranchTitle</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Agency : </label><span> @data.AgencyTitle</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Month : </label><span> @data.MonthYear</span>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Domain Type : </label> <span> @data.DomainType</span>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="control-label">Domain Status : </label> <span> @data.StatusName</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>