@{TempData.Keep("AccessRightAdd");}

@{EIF.Helper.collection.Get get = new EIF.Helper.collection.Get();}

<div id="msg">@Html.Partial("_Result")</div>
<div role="alert" id="del-box" class="alert alert-danger fade in hide">
    <h4>Confirm delete</h4>
    <p>Confirm deleting this recored</p>
    <p>
        <input type="hidden" id="del" />
        <button class="btn btn-danger" type="button" onclick="RemoveColumns();">Yes</button>
        <button class="btn btn-default" type="button" onclick="Cancel();">No</button>
    </p>
</div>
@if (TempData["AccessRightAdd"] != null || (bool)TempData["AccessRightAdd"] == true)
{
    <div class="panel panel-default">
    <div class="panel-heading">Add New Column</div>
    <div class="panel-body">
        <div class="row form-group" >
           <div class="col-lg-4">
               @Html.DropDownList("ColID", get.ColumnsList(null) as SelectList, "Choose", new
                                                {
                                                    @class = "form-control",// chosen-select
                                                })
           </div>
            <div class="col-lg-4">
                @Html.DropDownList("index", get.ColumnIndex(null) as SelectList, "Choose", new
                                                {
                                                    @class = "form-control",// chosen-select
                                                })
            </div>  
            <div class="col-lg-4">
                <input type="button" value="Insert" class="btn btn-primary" onclick="AddColumns();" />   
            </div>             
        </div>

    </div>
</div>
}
<div class="panel panel-default">
  
    <div class="panel-body">
        <table cellpadding="0" border="0" class="table table-striped table-bordered" id="tbl3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Index</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (ViewBag.AssignedCol != null)
                    {
                        IEnumerable<EIF.Models.Sch_SchemaColList> Col = ViewBag.AssignedCol;
                        foreach (var item in Col)
                        {
                            <tr>
                                <td>@item.ColumnName</td>
                                <td>
                                    @Html.DropDownList("index-" + item.CoID, get.ColumnIndex(item.ColumnIndex) as SelectList, new
                                                {
                                                    @class = "form-control",// chosen-select
                                                    @onchange = "UpdateSchemaColumnIndex(" + item.CoID + ")"
                                                })
                                </td>
                                <td>
                                    @{
                            if (TempData["AccessRightDelete"] != null && (bool)TempData["AccessRightDelete"] == true)
                                        {
                                             if (item.IsFixed==false)
                                            {
                                            <input type="button" value="Remove" class="btn btn-primary" onclick="ConfirmRemove(@item.CoID);" />   
                                            }
                                        }       
                                      }
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>

    </div>
</div>

