@{EIF.Helper.collection.Get get = new EIF.Helper.collection.Get();}
@{
    bool myinfo = ViewBag.myinfo != null ? ViewBag.myinfo : false;
    string BranchIDs = ViewBag.BranchIDs != null ? ViewBag.BranchIDs : "";
    string BankIDs = ViewBag.BankIDs != null ? ViewBag.BankIDs : "";
}
@using (Ajax.BeginForm("NewDomain", "collection",
                                     new AjaxOptions
                                     {
                                         //AllowCache = false,
                                         HttpMethod = "POST",
                                         UpdateTargetId = "msg",
                                         InsertionMode = InsertionMode.Replace,
                                         OnSuccess = "Step2()",
                                         OnBegin = "ShowProgress();",
                                         OnComplete = "HideProgress();"
                                     }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            New Domain
        </div>
        <div class="panel-body">

            <div id="container">
                <div class="col-lg-12">
                    <div id="msg">
                        <input type="hidden" id="DomainID1" name="DomainID1" value="0" />
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">Domain Name </label>
                                    <input type="text" id="Name" class="form-control" name="Name" value="@ViewBag.Domaintitle">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">Branch</label>
                                    @Html.DropDownList("BrunchID", get.AllBrunchList(0, int.Parse(ViewBag.BranchId), BranchIDs, myinfo) as SelectList, "Choose", new
                                                {
                                                    @class = "form-control",
                                                })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">Bank</label>
                                    @Html.DropDownList("AgencyID", get.AgencyList(0, int.Parse(ViewBag.BankId), BankIDs, myinfo) as SelectList, "Choose", new
                                                {
                                                    @class = "form-control",
                                                    @onchange = "BankChange()"
                                                })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DataScope">
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">Domain Type</label>
                                        <div id="DomainType">
                                            @Html.DropDownList("TypeID", get.DomainTypes(int.Parse(ViewBag.BankId)) as MultiSelectList, "", new
                                                {
                                                    @class = "form-control select2 chosen-select",
                                                    @multiple = "multiple",
                                                    @onchange = "DomainChange(this)"
                                                })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">Product</label>
                                        @Html.DropDownList("ProductID", get.ProductLst(int.Parse(ViewBag.BankId)) as MultiSelectList, "", new
                                                {
                                                    @class = "form-control select2 chosen-select",
                                                    @multiple = "multiple",
                                                    @onchange = "ProductChange(this)"
                                                })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">Region</label>
                                        @Html.DropDownList("RegionID", get.Region(int.Parse(ViewBag.BankId), int.Parse(Session["ID"].ToString())) as MultiSelectList, "", new
                                                {
                                                    @class = "form-control select2 chosen-select",
                                                    @multiple = "multiple",
                                                    //@onchange = "RegionChange(this)"
                                                })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">Month</label>
                                    @Html.DropDownList("Month", get.MonthList(0, int.Parse(ViewBag.MonthId)) as SelectList, "Choose", new
                                                {
                                                    @class = "form-control",
                                                })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>



}
<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/Collection.js"></script>
