 
<div class="warper container-fluid">
    <div class="Container">

        <div class="panel panel-default">
            <div class="panel-heading"> System Settings </div>
            <div class="panel-body">
                <div id="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("UsersManagement", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Users Management</strong></h3>
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("UsersGroups", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Users Groups</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("BranchList", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Branch List</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("Addpermission", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong> Premissions</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading"> Collection </div>
            <div class="panel-body">
                <div id="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("Agency", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Bank Management</strong></h3>
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-building info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("DepartmentEmployee", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Department Employee</strong></h3>
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>                        
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("TeamManagement", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Team Management</strong></h3>
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("Members", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Members List</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>
                       

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("ColumnList", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Column List</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-columns info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>     
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("Products", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Products</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div> 
                        <div class="col-md-3 col-sm-6">
                            <a href="@Url.Action("Cities", "Admin", new { Area = "" })">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <h3 class="no-margn"><strong>Cities</strong></h3>
                                        <br />
                                        <p class="text-muted"><small></small></p>
                                        <h1>
                                            <i class="fa fa-users info"></i>
                                        </h1>
                                    </div>
                                </div>
                            </a>

                        </div>                          
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>

